body {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container-1 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rosybrown;
}

.container-1 .diamond {
  position: relative;
  width: 200px;
  height: 200px;
  transform: rotate(45deg);
}

.container-1 .diamond span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 50px solid #20bc70;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid transparent;
}

.container-1 .diamond span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 50px solid #1fb67c;
  border-right: 50px solid #20bc70;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;
}

.container-1 .diamond span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  border-top: 50px solid #1fb67c;
  border-right: 50px solid #20bc70;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;
}

.container-1 .diamond span:nth-child(4) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 50px solid #1fb67c;
  border-right: 50px solid #20bc70;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;
}



