body {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7,
.container-8,
.container-9,
.container-10,
.container-11,
.container-12,
.container-13,
.container-14,
.container-15,
.container-16,
.container-17,
.container-18,
.container-19,
.container-20,
.container-21,
.container-22 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rosybrown;
}

.container-1 .diamond {
  position: relative;
  width: 200px;
  height: 200px;
  transform: rotate(45deg);
}

.container-1 .diamond span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 50px solid #20bc70;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid transparent;
}

.container-1 .diamond span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 50px solid #1fb67c;
  border-right: 50px solid #20bc70;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;
}

.container-1 .diamond span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  border-top: 50px solid #1fb67c;
  border-right: 50px solid #20bc70;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;
}

.container-1 .diamond span:nth-child(4) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 50px solid #1fb67c;
  border-right: 50px solid #20bc70;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;
}

.container-2 {
  background: none;
}

.container-2 .card {
  width: 0;
  height: 0;
  border-top: 100px solid #eee;
  border-right: 170px solid #ddd;
  border-bottom: 100px solid #ccc;
  border-left: 170px solid #ccc;
}

.container-2 .card .heart {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: red;
  transform: translate(-50%, -50%) rotate(45deg);
  animation: heartbeat 2s linear infinite;
}

.container-2 .card .heart::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  transform: translateY(-50%);
  border-radius: 50%;
}

.container-2 .card .heart::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  transform: translateX(-50%);
  border-radius: 50%;
}

@keyframes heartbeat {
  0% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }
  75% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}

.container-3 {
  background-color: aquamarine;
}

.container-3 .pepsi {
  position: relative;
  height: 300px;
  width: 300px;
  background-color: #34588e;
  border-radius: 50%;
  border: 10px solid white;
  overflow: hidden;
}

.container-3 .pepsi::before {
  content: "";
  position: absolute;
  height: 400px;
  width: 500px;
  background-color: white;
  border-radius: 25%;
  top: -160px;
  left: -240px;
  transform: rotate(-18deg);
}

.container-3 .pepsi::after {
  position: absolute;
  content: "";
  height: 500px;
  width: 550px;
  border-radius: 50%;
  background-color: #da473c;
  top: -275px;
  left: -300px;
}

.container-4 .camera {
  width: 205px;
  height: 155px;
  background-color: #d6d6d6;
  border-radius: 15px;
  box-shadow: 0 10px -13px black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-4 .camera .lens {
  width: 125px;
  height: 125px;
  background-color: white;
  box-shadow: 0 8px 0 0 #c0c0c0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.container-4 .camera .lens .innerlens {
  width: 105px;
  height: 105px;
  background-color: #00695c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.container-4 .camera .lens .innerlens2 {
  border-top: 31px solid #00897b;
  border-right: 31px solid #46adac;
  border-bottom: 31px solid #80cbca;
  border-left: 31px solid #26a69a;
  border-radius: 50%;
}

.container-4 .camera .flash {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 0 #c0c0c0;
}

.container-4 .camera .button {
  position: absolute;
  left: 20px;
  top: -5px;
  width: 30px;
  height: 5px;
  background-color: #009587;
  border-radius: 60px;
}

.container-5 {
  background-color: olivedrab;
}

.container-5 .coffe-mug {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #3f2616;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #442918, 0 0 0 25px #3c2415, 0 0 0 42px #fe9407,
    0 0 0 65px #feaa3a, 0 120px 0 -25px #3c2415, 100px 70px 0 -25px #3c2415,
    80px 140px 0 -10px #3c2415, 0 210px 0 -55px #3c2415,
    20px 250px 0 -65px #3c2415;
}

.container-5 .coffe-mug::before {
  content: "";
  position: absolute;
  top: -85px;
  right: -75px;
  height: 75px;
  width: 60px;
  background-color: #feaa3a;
  border-radius: 5px;
  transform: rotate(45deg);
}

.container-6 {
  background-color: black;
}

.container-6 .oval {
  width: 230px;
  height: 130px;
  background-color: #fdff00;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container-6 .oval .logo {
  position: absolute;
  width: 212px;
  height: 112px;
  background-color: black;
  border-radius: 50%;
}

.o1 {
  position: absolute;
  background-color: #fdff00;
  width: 33px;
  height: 70px;
  border-radius: 50%;
  top: 67px;
  left: 44px;
  transform: rotate(-41deg);
}
.o2 {
  position: absolute;
  background-color: #fdff00;
  width: 33px;
  height: 70px;
  border-radius: 50%;
  top: 67px;
  right: 44px;
  transform: rotate(41deg);
}

.o3 {
  position: absolute;
  top: 73px;
  left: 68px;
  width: 38px;
  height: 70px;
  background-color: #fdff00;
  border-radius: 50%;
  transform: rotate(-15deg);
}

.o4 {
  position: absolute;
  top: 73px;
  right: 68px;
  width: 38px;
  height: 70px;
  background-color: #fdff00;
  border-radius: 50%;
  transform: rotate(15deg);
}

.o5 {
  position: absolute;
  top: 0;
  left: 57px;
  width: 37px;
  height: 40px;
  border-radius: 50%;
  background-color: #fdff00;
}

.o6 {
  position: absolute;
  top: 0;
  right: 57px;
  width: 37px;
  height: 40px;
  border-radius: 50%;
  background-color: #fdff00;
}

.sq1 {
  position: absolute;
  top: 0;
  left: 74px;
  height: 20px;
  width: 20px;
  background-color: #fdff00;
}

.sq2 {
  position: absolute;
  top: 0;
  right: 74px;
  height: 20px;
  width: 20px;
  background-color: #fdff00;
}

.ears {
  position: absolute;
  top: 0;
  left: 95px;
  width: 11px;
  border-bottom: 12px solid yellow;
  border-left: 6px solid black;
  border-right: 6px solid black;
  transform: rotate(180deg);
}

.container-7 {
  background-color: #34588e;
}

.container-7 .c3 {
  width: 260px;
  height: 260px;
  background-color: #ff4040;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-7 .c2 {
  width: 210px;
  height: 210px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-7 .c1 {
  width: 150px;
  height: 150px;
  background-color: #ff4040;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 100px;
  height: 100px;
  background-color: #306fd4;
  border-radius: 50%;
  position: relative;
}

.arrow {
  position: absolute;
  border-top: 35px solid white;
  border-left: 48px solid transparent;
  border-right: 48px solid transparent;
  border-bottom: 48px solid transparent;
  width: 0;
  height: 0;
}

.arrow.top {
  top: 35px;
  left: 2px;
}

.arrow.left {
  top: 16px;
  left: -24px;
  transform: rotate(72deg);
}

.arrow.right {
  top: 16px;
  left: 24px;
  transform: rotate(-72deg);
}

.gear {
  position: relative;
  width: 110px;
  height: 110px;
  background-color: #5dc59d;
  border-radius: 50%;
}

.gear:hover {
  animation: rotate-gear 2s linear infinite;
}

.gearinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 55px;
  height: 55px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.bar {
  width: 170px;
  height: 40px;
  background-color: #5dc59d;
  border-radius: 7px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bar:nth-child(1) {
  transform: translate(-50%, -50%) rotate(60deg);
}

.bar:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-60deg);
}

@keyframes rotate-gear {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container-9 {
  background-color: white;
}

.git {
  width: 150px;
  height: 150px;
  background-color: #f05033;
  border-radius: 15px;
  position: relative;
  transform: rotate(45deg);
}

.line1 {
  width: 110px;
  height: 12px;
  background-color: white;
  position: relative;
  top: 40px;
}

.line1::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  top: -8px;
}

.line1::after {
  content: "";
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 100px;
  top: -8px;
}

.line2 {
  width: 90px;
  height: 12px;
  background-color: white;
  position: absolute;
  top: 70px;
  left: 30px;
  transform: rotate(45deg);
}

.line2::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 70px;
  top: -8px;
}

.container-10 {
  background-color: white;
}

.wrap {
  width: 150px;
  height: 150px;
  position: relative;
}

.wrap .top {
  position: absolute;
  width: 150px;
  height: 150px;
  border-top: 30px solid #e33e2b;
  border-right: 30px solid transparent;
  border-bottom: 30px solid #2ba14b;
  border-left: 30px solid #f1b500;
  border-radius: 50%;
  z-index: 2;
}

.half {
  width: 150px;
  height: 150px;
  position: absolute;
  border: 30px solid transparent;
  border-right: 30px solid #3a7cec;
  transform: rotate(45deg);
  border-radius: 50%;
  z-index: 1;
}

.container-10 .line {
  width: 80px;
  height: 30px;
  background-color: #3a7cec;
  position: absolute;
  right: 0;
  top: 51%;
  transform: translateX(75%);
}

.container-11 {
  background: none;
}

.container-11 .logo {
  height: 200px;
  width: 200px;
  border-radius: 60px;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-11 .logo .square {
  width: 140px;
  height: 140px;
  background-color: transparent;
  border: 12px solid white;
  border-radius: 45px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-big {
  height: 60px;
  width: 60px;
  background-color: transparent;
  border: 12px solid white;
  border-radius: 50%;
}

.circle-small {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
}

.container-12 {
  background: none;
}

.panda {
  width: 300px;
  height: 300px;
  background-color: white;
  border: 12px solid black;
  border-radius: 50%;
  position: relative;
}

.eye-left {
  position: absolute;
  width: 115px;
  height: 58px;
  background-color: black;
  left: 10px;
  top: 45%;
  border-radius: 0 0 115px 115px;
  transform: rotate(30deg);
  overflow: hidden;
}

.eye-right {
  position: absolute;
  width: 115px;
  height: 58px;
  background-color: black;
  right: 10px;
  top: 45%;
  border-radius: 0 0 115px 115px;
  transform: rotate(-30deg);
  overflow: hidden;
}

.left-ball {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: black;
  border: 12px solid white;
  top: -50%;
  left: 30%;
  border-radius: 50%;
}

.right-ball {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: black;
  border: 12px solid white;
  top: -50%;
  left: 30%;
  border-radius: 50%;
}

.nose {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: black;
  border-radius: 50%;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.mouth {
  position: absolute;
  width: 50px;
  height: 10px;
  background-color: black;
  border-radius: 10px;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
}

.ear-left {
  position: absolute;
  width: 130px;
  height: 130px;
  background-color: black;
  border-radius: 50%;
  top: -30px;
  left: -35px;
  z-index: -1;
}

.ear-right {
  position: absolute;
  width: 130px;
  height: 130px;
  background-color: black;
  border-radius: 50%;
  top: -30px;
  right: -35px;
  z-index: -1;
}

.container-13 {
  background: radial-gradient(circle at 50%, silver, grey);
}

.watermelon {
  width: 320px;
  height: 160px;
  background-color: #fd6c64;
  border-left: 20px solid #5afbb6;
  border-bottom: 20px solid #5afbb6;
  border-right: 20px solid #5afbb6;
  border-radius: 0 0 200px 200px;
}

.watermelon .span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #262626;
  border-radius: 50%;
  margin: 20px;
}

.watermelon .span:nth-child(7),
.watermelon .span:nth-child(12),
.watermelon .span:nth-child(13),
.watermelon .span:nth-child(14) {
  opacity: 0;
}

.container-14 {
  background: none;
}

.adidas {
  width: 206px;
  height: 120px;
  position: relative;
  overflow: hidden;
}

.adidas .shape {
  width: 46px;
  height: 150px;
  background-color: #111;
  position: absolute;
  transform: rotate(-31deg);
}

.adidas .s1 {
  top: 86px;
  left: 36px;
  background-color: black;
}

.adidas .s2 {
  top: 45px;
  left: 82px;
  background-color: black;
}

.adidas .s3 {
  top: 4px;
  left: 129px;
  background-color: black;
}

.container-15 {
  background: linear-gradient(30deg, blue, red);
}

.brackets {
  position: relative;
  height: 175px;
  width: 200px;
  background-color: white;
  border-radius: 31px;
  box-shadow: 0 0 0 28px #28a9e1, 0 28px 0 28px #115a91;
  z-index: 1;
}

.brackets::before {
  content: "";
  width: 50%;
  height: 44%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 28px solid #4d4d4d;
}

.brackets::after {
  content: "";
  width: 10%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.container-16 {
  box-sizing: border-box;
  background: linear-gradient(75deg, wheat, yellow);
}

.donut {
  position: relative;
  width: 200px;
  height: 200px;
}

.donut-body {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #f77778;
  border: 2px solid #003459;
  border-radius: 50%;
}

.donut-body::before {
  content: "";
  position: absolute;
  width: 93%;
  height: 93%;
  background-color: #faa7a8;
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 50%;
}

.donut-body::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(75deg, wheat, yellow);
  border: 2px solid #003459;
  transform: translate(-50%, -50%);
}

.face {
  width: 32px;
  height: 16px;
  position: absolute;
  top: 44px;
  left: 84px;
  border: 3px solid #003459;
  border-top: 0;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.face::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: -22px;
  left: -16px;
  background-color: #003459;
  border-radius: 50%;
}

.face::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: -22px;
  right: -16px;
  background-color: #003459;
  border-radius: 50%;
}

.highlight {
  width: 40px;
  height: 40px;
  border: 8px solid white;
  border-top: 0;
  border-right: 0;
  position: absolute;
  top: 105px;
  left: 50px;
  border-bottom-left-radius: 100%;
  opacity: 0.5;
}

.container-17 {
  background-color: black;
}

.logo {
  width: 180px;
  height: 270px;
  display: flex;
  flex-wrap: wrap;
}

.part {
  width: 90px;
  height: 90px;
}

.part-1 {
  background-color: #ee4e2a;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.part-2 {
  background-color: #fb7266;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.part-3 {
  background-color: #a061fa;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.part-4 {
  background-color: #24bdfa;
  border-radius: 50%;
}

.part-5 {
  background-color: #00ce84;
  border-radius: 50% 0 50% 50%;
}

.container-18,
.container-19 {
  background-color: #222;
}

.react {
  width: 300px;
  height: 100px;
  border: 3px solid #61dafb;
  border-radius: 50%;
  position: relative;
}

.react::before {
  content: "";
  width: 100%;
  height: 100%;
  border: 3px solid #61dafb;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
}

.react::after {
  content: "";
  width: 100%;
  height: 100%;
  border: 3px solid #61dafb;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
}

.react .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  background-color: #61dafb;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.container-19 .logo {
  width: 500px;
  height: 500px;
  background-color: #e31837;
  border-radius: 50%;
  position: relative;
}

.container-19 .logo .line--1 {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  border-radius: 50%;
  border: 20px solid white;
  border-right-color: transparent;
}

.container-19 .logo .line--2 {
  position: absolute;
  width: 150px;
  height: 20px;
  background-color: white;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

.container-19 .logo .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 120px;
  left: 130px;
}

.container-19 .logo .line--3 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 250px;
  background-color: white;
  transform: translate(-50%, -50%);
}

.container-19 .logo .line--4 {
  position: absolute;
  width: 70px;
  height: 20px;
  background-color: white;
  top: 370px;
  left: 240px;
}

.container-20 {
  background-color: yellow;
  z-index: -10;
}

.container-20 .icecream {
  background-color: #9cd2a2;
  width: 150px;
  height: 300px;
  border-radius: 45% 45% 10% 10%;
  position: relative;
}

.container-20 .icecream .stick {
  height: 175px;
  width: 40px;
  background-color: #e6ac84;
  border-radius: 40%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}

.container-20 .icecream .side {
  height: 140px;
  width: 40px;
  background-color: #a5ddac;
  border-radius: 40%;
  position: absolute;
  left: 20px;
  top: 100px;
}

.container-20 .icecream .side2 {
  height: 140px;
  width: 40px;
  background-color: #a5ddac;
  border-radius: 40%;
  position: absolute;
  right: 20px;
  top: 100px;
}

.container-20 .icecream .melting {
  height: 30px;
  width: 15px;
  background-color: #9cd2a2;
  border-radius: 30px;
  position: absolute;
  bottom: 0;
  left: 25px;
  animation: melting 6s ease infinite;
  animation-delay: 3s;
  z-index: -1;
}

.container-20 .icecream .melting2 {
  left: 110px;
  animation-delay: 1s;
}

@keyframes melting {
  0% {
    bottom: 5px;
  }
  0% {
    bottom: -15px;
  }
}

.container-20 .icecream .bite {
  position: absolute;
  left: 100px;
  height: 50px;
  width: 50px;
  background-color: yellow;
  border-radius: 50%;
  opacity: 0;
  animation: bite 1s forwards 2s;
}

.container-20 .icecream .bite2 {
  left: 50px;
  width: 70px;
  height: 70px;
  animation-delay: 4s;
}

.container-20 .icecream .bite3 {
  top: -10px;
  left: 5px;
  width: 100px;
  height: 100px;
  animation-delay: 6s;
}

@keyframes bite {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container-21 {
  background-color: #fcd458;
}

.container-21 .container {
  position: relative;
  width: 350px;
  height: 600px;
}

.container-21 .container .eye {
  width: 64px;
  height: 64px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 13%;
}

.container-21 .container .eye.-r {
  left: 65%;
}

.container-21 .container .eye .eyeball {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 44%;
  top: 13%;
  animation: eyes 2s ease infinite;
}

.container-21 .container .nosee {
  position: absolute;
  left: 47%;
  top: 44%;
  width: 16px;
  height: 16px;
  background-color: black;
  border-radius: 8px 8px 16px 16px;
}

.container-21 .container .cheek {
  width: 48px;
  height: 48px;
  background-color: #e15b42;
  border-radius: 50%;
  position: absolute;
  top: 48%;
  left: 4%;
}

.container-21 .container .cheek.-r {
  left: 80%;
}

.mouthh {
  width: 96px;
  height: 96px;
  background-color: #83342f;
  border-radius: 16px 16px 50% 50%;
  position: absolute;
  left: 36%;
  top: 50%;
  overflow: hidden;
}

.mouthh .tongue {
  width: 64px;
  height: 64px;
  background-color: #e97b7c;
  position: absolute;
  top: 61%;
  left: 16px;
  border-radius: 50%;
}

.mouthh::after {
  content: "";
  width: 64px;
  height: 64px;
  background-color: #fcd458;
  border-radius: 50%;
  position: absolute;
  top: -39%;
  left: -19%;
}

.mouthh::before {
  content: "";
  width: 64px;
  height: 64px;
  background-color: #fcd458;
  border-radius: 50%;
  position: absolute;
  top: -39%;
  left: 46%;
}

@keyframes eyes {
  0% {
    left: 44%;
  }
  50% {
    left: 15%;
  }
  100% {
    left: 44%;
  }
}

.container-22 {
  background: #25a9fc;
}

.container--22 {
  position: relative;
  width: 600px;
  height: 420px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headd {
  position: absolute;
  width: 300px;
  height: 285px;
  background-color: #acbecf;
  border-radius: 50%;
}

.headcopy {
  position: absolute;
  width: 300px;
  height: 285px;
  background-color: #acbecf;
  border-radius: 50%;
  z-index: 2;
}

.earr {
  position: absolute;
  width: 180px;
  height: 185px;
  background: #a6becf;
  border-radius: 50%;
  top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ear--left {
  left: -60px;
}

.ear--right {
  right: -60px;
}

.inner--earr {
  position: absolute;
  width: 80%;
  height: 80%;
  background: #819caf;
  border-radius: 50%;
}

.k-eye {
  position: absolute;
  width: 90px;
  height: 95px;
  background-color: white;
  z-index: 3;
  top: 25%;
  border-radius: 50%;
}

.k-eye-left {
  left: 21%;
}

.k-eye-right {
  right: 21%;
}

.k-pupil {
  position: absolute;
  width: 25px;
  height: 29px;
  background-color: #27354a;
  top: 35%;
  left: 36%;
  border-radius: 50%;
}

.k-nose {
  position: absolute;
  width: 75px;
  height: 120px;
  background-color: #be845f;
  z-index: 3;
  left: 37%;
  top: 45%;
  border-radius: 50px;
}

