body {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.container-7,
.container-8 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rosybrown;
}

.container-1 .diamond {
  position: relative;
  width: 200px;
  height: 200px;
  transform: rotate(45deg);
}

.container-1 .diamond span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 50px solid #20bc70;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid transparent;
}

.container-1 .diamond span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 50px solid #1fb67c;
  border-right: 50px solid #20bc70;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;
}

.container-1 .diamond span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  border-top: 50px solid #1fb67c;
  border-right: 50px solid #20bc70;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;
}

.container-1 .diamond span:nth-child(4) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-top: 50px solid #1fb67c;
  border-right: 50px solid #20bc70;
  border-bottom: 50px solid #26c893;
  border-left: 50px solid #55ddb9;
}

.container-2 {
  background: none;
}

.container-2 .card {
  width: 0;
  height: 0;
  border-top: 100px solid #eee;
  border-right: 170px solid #ddd;
  border-bottom: 100px solid #ccc;
  border-left: 170px solid #ccc;
}

.container-2 .card .heart {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: red;
  transform: translate(-50%, -50%) rotate(45deg);
  animation: heartbeat 2s linear infinite;
}

.container-2 .card .heart::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  transform: translateY(-50%);
  border-radius: 50%;
}

.container-2 .card .heart::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  transform: translateX(-50%);
  border-radius: 50%;
}

@keyframes heartbeat {
  0% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.1);
  }
  50% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }
  75% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.1);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}

.container-3 {
  background-color: aquamarine;
}

.container-3 .pepsi {
  position: relative;
  height: 300px;
  width: 300px;
  background-color: #34588e;
  border-radius: 50%;
  border: 10px solid white;
  overflow: hidden;
}

.container-3 .pepsi::before {
  content: "";
  position: absolute;
  height: 400px;
  width: 500px;
  background-color: white;
  border-radius: 25%;
  top: -160px;
  left: -240px;
  transform: rotate(-18deg);
}

.container-3 .pepsi::after {
  position: absolute;
  content: "";
  height: 500px;
  width: 550px;
  border-radius: 50%;
  background-color: #da473c;
  top: -275px;
  left: -300px;
}

.container-4 .camera {
  width: 205px;
  height: 155px;
  background-color: #d6d6d6;
  border-radius: 15px;
  box-shadow: 0 10px -13px black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-4 .camera .lens {
  width: 125px;
  height: 125px;
  background-color: white;
  box-shadow: 0 8px 0 0 #c0c0c0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.container-4 .camera .lens .innerlens {
  width: 105px;
  height: 105px;
  background-color: #00695c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.container-4 .camera .lens .innerlens2 {
  border-top: 31px solid #00897b;
  border-right: 31px solid #46adac;
  border-bottom: 31px solid #80cbca;
  border-left: 31px solid #26a69a;
  border-radius: 50%;
}

.container-4 .camera .flash {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 0 #c0c0c0;
}

.container-4 .camera .button {
  position: absolute;
  left: 20px;
  top: -5px;
  width: 30px;
  height: 5px;
  background-color: #009587;
  border-radius: 60px;
}

.container-5 {
  background-color: olivedrab;
}

.container-5 .coffe-mug {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: #3f2616;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #442918, 0 0 0 25px #3c2415, 0 0 0 42px #fe9407,
    0 0 0 65px #feaa3a, 0 120px 0 -25px #3c2415, 100px 70px 0 -25px #3c2415,
    80px 140px 0 -10px #3c2415, 0 210px 0 -55px #3c2415,
    20px 250px 0 -65px #3c2415;
}

.container-5 .coffe-mug::before {
  content: "";
  position: absolute;
  top: -85px;
  right: -75px;
  height: 75px;
  width: 60px;
  background-color: #feaa3a;
  border-radius: 5px;
  transform: rotate(45deg);
}

.container-6 {
  background-color: black;
}

.container-6 .oval {
  width: 230px;
  height: 130px;
  background-color: #fdff00;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container-6 .oval .logo {
  position: absolute;
  width: 212px;
  height: 112px;
  background-color: black;
  border-radius: 50%;
}

.o1 {
  position: absolute;
  background-color: #fdff00;
  width: 33px;
  height: 70px;
  border-radius: 50%;
  top: 67px;
  left: 44px;
  transform: rotate(-41deg);
}
.o2 {
  position: absolute;
  background-color: #fdff00;
  width: 33px;
  height: 70px;
  border-radius: 50%;
  top: 67px;
  right: 44px;
  transform: rotate(41deg);
}

.o3 {
  position: absolute;
  top: 73px;
  left: 68px;
  width: 38px;
  height: 70px;
  background-color: #fdff00;
  border-radius: 50%;
  transform: rotate(-15deg);
}

.o4 {
  position: absolute;
  top: 73px;
  right: 68px;
  width: 38px;
  height: 70px;
  background-color: #fdff00;
  border-radius: 50%;
  transform: rotate(15deg);
}

.o5 {
  position: absolute;
  top: 0;
  left: 57px;
  width: 37px;
  height: 40px;
  border-radius: 50%;
  background-color: #fdff00;
}

.o6 {
  position: absolute;
  top: 0;
  right: 57px;
  width: 37px;
  height: 40px;
  border-radius: 50%;
  background-color: #fdff00;
}

.sq1 {
  position: absolute;
  top: 0;
  left: 74px;
  height: 20px;
  width: 20px;
  background-color: #fdff00;
}

.sq2 {
  position: absolute;
  top: 0;
  right: 74px;
  height: 20px;
  width: 20px;
  background-color: #fdff00;
}

.ears {
  position: absolute;
  top: 0;
  left: 95px;
  width: 11px;
  border-bottom: 12px solid yellow;
  border-left: 6px solid black;
  border-right: 6px solid black;
  transform: rotate(180deg);
}

.container-7 {
  background-color: #34588e;
}

.container-7 .c3 {
  width: 260px;
  height: 260px;
  background-color: #ff4040;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-7 .c2 {
  width: 210px;
  height: 210px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-7 .c1 {
  width: 150px;
  height: 150px;
  background-color: #ff4040;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 100px;
  height: 100px;
  background-color: #306fd4;
  border-radius: 50%;
  position: relative;
}

.arrow {
  position: absolute;
  border-top: 35px solid white;
  border-left: 48px solid transparent;
  border-right: 48px solid transparent;
  border-bottom: 48px solid transparent;
  width: 0;
  height: 0;
}

.arrow.top {
  top: 35px;
  left: 2px;
}

.arrow.left {
  top: 16px;
  left: -24px;
  transform: rotate(72deg);
}

.arrow.right {
  top: 16px;
  left: 24px;
  transform: rotate(-72deg);
}

.gear {
  width: 110px;
  height: 110px;
  background-color: #5dc59d;
}